[Unit]
Description=Forward Magic Packet Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/your_username/magic_packet.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target